<div class="panel panel-primary">
  <div class="panel-heading" style="background: #007bff; color:white; padding:20px">
    Please Insert the food you want.
  </div>
  <div class="panel-body" style="padding:20px">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Type</label>
        <select class="form-control" [(ngModel)]="foodType" [ngModelOptions]="{standalone: true}">
          <option value="carbo" selected>แป้ง</option>
          <option value="meat">เนื้อ</option>
          <option value="drinks">น้ำ</option>
        </select>        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input  [(ngModel)]="foodName" maxlength="30" class="form-control" placeholder="Name" [ngModelOptions]="{standalone: true}">
      </div>      
      <button type="submit" class="btn btn-primary" (click)="addFood()">Submit</button>
    </form>
  </div>
</div>

